[user]
	name = Thibeau Fuhrer
	email = thibeau@sr.solutions
	signingKey = ~/.ssh/id_rsa.pub
[gpg]
	format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = trunk
[core]
	excludesFile = ~/.gitignore
	editor = $GIT_EDITOR
